@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@400;700&display=swap');

body {
  font-family: 'Helvetica', 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

